@model LibraryManagement.Models.Branch.BranchDetailModel

@{
    ViewBag.Title = Model.Name + "Branch";
}

<div class="container">
    <div>
        <h2>Branch Information</h2>
    </div>
    <div class="jumbotron">
        <div class="row">
            <img src="~/images/@Model.ImageUrl"/>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>@Model.Name</h2>
                <div>
                    <div>Address: @Model.Address</div>
                    <div>Telephone: @Model.Telephone</div>
                </div>
                <div>
                    <p class="caption">@Model.Description</p>
                </div>

                @*<div>
                    <ul>
                        @foreach (var day in Model.HoursOpen)
                        {

                        }
                    </ul>
                </div>*@

                <div class="col-md-4">
                    <table>
                        <tr>
                            <td>Date Opened: </td>
                            <td>@Model.OpenDate</td>
                        </tr>
                        <tr>
                            <td>Number of Patrons: </td>
                            <td>@Model.NumberOfPatrons</td>
                        </tr>
                        <tr>
                            <td>Number of Assets: </td>
                            <td>@Model.NumberOfAssets</td>
                        </tr>
                        <tr>
                            <td>Value of Assets: </td>
                            <td>$@Model.TotalAssetValue</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
